html {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    color: white;
}

.header{
    padding: 5px;
}

.body::after{
    content: "";
    clear: both;
    display: table;
}
[class*="bod-"]{
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 1100px){
    .bod-left{width: 30%;}
    .bod-middle{width: 30%;}
    .bod-right{width: 30%;}
}

.footer{
    clear: both;
    display: grid;
    grid-template-columns: 5% 15% 15% 15% 15% 15% 15% 5%;
    position: sticky;
    bottom: 5px;
}
.footerchild{
    float: left;
    background-image: url('Bilder/Assets/RahmenUntenMitte.png');
}
.footleft{
    background-image: url('Bilder/Assets/RahmenUntenLinks.png');    
    background-repeat: no-repeat;
    background-position:right;
}
.footright{
    background-image: url('Bilder/Assets/RahmenUntenRechts.png');
    background-repeat: no-repeat;
}